[Interface]
Address = 10.0.0.1/24
ListenPort = 51820
PrivateKey = <CLAVE_PRIVADA_SERVIDOR>

PostUp   = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -A FORWARD -o wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o <INTERFAZ_RED> -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o <INTERFAZ_RED> -j MASQUERADE

# Cliente 1
[Peer]
PublicKey = <CLAVE_PUBLICA_CLIENTE_1>
AllowedIPs = 10.0.0.2/32

# Cliente 2
[Peer]
PublicKey = <CLAVE_PUBLICA_CLIENTE_2>
AllowedIPs = 10.0.0.3/32
